@model web_chung_cu.Models.Apartment

@{
    ViewBag.Title = "Thêm một chung cư";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5>Thêm mới</h5>

<form action="@Url.Action("Add", "Apartment")" method="post" class="box">
    @Html.AntiForgeryToken()

    <div class="row g-3">
        <div class="col-6">
            <label for="name" class="form-label">Tên chung cư *</label>
            <input class="form-control input__convert-to-slug @(ViewData.ModelState["name"] != null && ViewData.ModelState["name"].Errors.Count > 0 ? "is-invalid" : "")" name="name" id="name" value="@Request.Form["name"]" >
            @Html.ValidationMessageFor(a => a.name, "", new { @class = "invalid-feedback" })
        </div>

        <div class="col-6">
            <label for="slug" class="form-label">Đường dẫn *</label>
            <input class="form-control input__slug @(ViewData.ModelState["slug"] != null && ViewData.ModelState["slug"].Errors.Count > 0 ? "is-invalid" : "")" name="slug" id="slug" value="@Request.Form["slug"]" >
            @Html.ValidationMessageFor(a => a.slug, "", new { @class = "invalid-feedback" })
        </div>

        <div class="col-6">
            <label for="address" class="form-label">Địa chỉ *</label>
            <input class="form-control @(ViewData.ModelState["address"] != null && ViewData.ModelState["address"].Errors.Count > 0 ? "is-invalid" : "")" name="address" id="address" value="@Request.Form["address"]" >
            @Html.ValidationMessageFor(a => a.address, "", new { @class = "invalid-feedback" })
        </div>

        <div class="col-6">
            <label for="totalFloor" class="form-label">Tổng số tầng *</label>
            <input type="number" min="0" max="99" class="form-control @(ViewData.ModelState["totalFloor"] != null && ViewData.ModelState["totalFloor"].Errors.Count > 0 ? "is-invalid" : "")" name="totalFloor" id="totalFloor" value="@(Request.Form["totalFloor"] != null ? Request.Form["totalFloor"] : "0")" >
            @Html.ValidationMessageFor(a => a.totalFloor, "", new { @class = "invalid-feedback" })
        </div>

        <div class="col-6">
            <label for="totalRoom" class="form-label">Tổng số phòng *</label>
            <input type="number" min="0" max="99" class="form-control @(ViewData.ModelState["totalRoom"] != null && ViewData.ModelState["totalRoom"].Errors.Count > 0 ? "is-invalid" : "")" name="totalRoom" id="totalRoom" value="@(Request.Form["totalRoom"] != null ? Request.Form["totalRoom"] : "0")" >
            @Html.ValidationMessageFor(a => a.totalRoom, "", new { @class = "invalid-feedback" })
        </div>

    </div>

    <div class="btn__wrapper">
        <button type="submit" class="btn btn-primary btn-sm">Thêm mới</button>
        <a href="@Url.Action("Index", "Apartment")" class="btn btn-danger btn-sm">Hủy</a>
    </div>
</form>