@model IEnumerable<web_chung_cu.Models.Apartment>

@{
    ViewBag.Title = "Quản lý chung cư";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int _page = (int)ViewData["page"];
    int _limit = (int)ViewData["limit"];
    string searchTerm = (string)ViewData["searchTerm"];
    int status = (int)ViewData["status"];
    int totalPage = (int)ViewData["totalPage"];
}

<h5>Quản lý chung cư</h5>

<div class="box">
    @*header*@
    <div class="table__header">
        <div class="table__header-left">
            <form action="@Url.Action("Index", "Apartment", new {_page = _page - 1, _limit = _limit, searchTerm=searchTerm})" class="select__form">
                <select class="form-select form-select-sm select__input" aria-label="Trạng thái" name="status">
                    <option value="-1" @(status == -1 ? "selected" : "")>-- Chọn trạng thái --</option>
                    <option value="1" @(status == 1 ? "selected" : "")>Còn phòng trống</option>
                    <option value="0" @(status == 0 ? "selected" : "")>Hết phòng</option>
                </select>
            </form>
        </div>
        <div class="table__header-right">
            <form action="@Url.Action("Index", "Apartment", new {_page = _page - 1, _limit = _limit, searchTerm=searchTerm})">
                <div class="input-group input-group-sm flex-nowrap">
                    <input type="text" class="form-control table__header-search" placeholder="Nhập tên chung cư" name="searchTerm" value="@searchTerm" aria-label="searchTerm" aria-describedby="addon-wrapping">
                    <span class="input-group-text" id="addon-wrapping">
                        <i class="bx bx-search-alt"></i>
                    </span>
                </div>
            </form>

            <button type="button" class="btn btn-primary btn-sm">
                <a href="@Url.Action("Add", "Apartment")" class="table__header-btn">
                    <i class="bx bx-plus-circle"></i>
                    <span>Thêm</span>
                </a>
            </button>
        </div>
    </div>
    @*header*@

    @*table*@
    <div class="table__content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" width="30px">ID</th>
                    <th scope="col">Tên chung cư</th>
                    <th scope="col">Đường dẫn</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Tổng số tầng</th>
                    <th scope="col">Tổng số phòng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.LongCount() > 0)
                {
                    foreach (var apartment in Model)
                    {
                        <tr>
                            <td>@apartment.id</td>
                            <td>@apartment.name</td>
                            <td>@apartment.slug</td>
                            <td>@apartment.address</td>
                            <td>@apartment.totalFloor</td>
                            <td>@apartment.totalRoom</td>
                            <td>
                                <span class="@(apartment.status == 1 ? "status--success" : "status--error")">@(apartment.status == 1 ? "Còn phòng trống" : "Hết phòng")</span>
                            </td>
                            <td>
                                <div class="table__content-action">
                                    <a href="@Url.Action("Edit", "Apartment", new { id = apartment.id })" class="menu__item-link table__content-edit" data-bs-toggle="tooltip" data-bs-title="Chỉnh sửa">
                                        <i class="bx bx-edit-alt"></i>
                                    </a>

                                    <span class="menu__item-link table__content-delete" data-bs-toggle="tooltip" data-bs-title="Xóa">
                                        <i class="bx bx-trash-alt" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
                                    </span>

                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa chung cư</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn chắc chắn muốn xóa chung cư "@apartment.name" ?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="@Url.Action("Delete", "Apartment", new { id = apartment.id})" class="btn btn-primary btn-sm">Xác nhận</a>
                                                    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Hủy</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">
                            <span class="table__content-empty">Không có dữ liệu</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (totalPage > 0)
        {
            <div class="table__pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        <li class="page-item @(_page == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Apartment", new {_page = _page - 1, _limit = _limit, status=status, searchTerm=searchTerm})" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (var i = 1; i <= totalPage; i++)
                        {
                        <li class="page-item  @(_page == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Apartment", new {_page = @i, _limit = _limit, status=status, searchTerm=searchTerm})">@i</a>
                        </li>
                        }
                        <li class="page-item @(_page == totalPage ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Apartment", new {_page = _page + 1, _limit = _limit, status=status, searchTerm=searchTerm})" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        }
    </div>
    @*table*@
</div>
