@model web_chung_cu.Models.User
@{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/login.css")" type="text/css" />

    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form action="@Url.Action("Login", "Auth")" method="post" class="form">
    @Html.AntiForgeryToken()

    <span class="form__icon-wrapper">
        <i class="bx bx-user form__icon"></i>
    </span>

    <div class="form__content">
        <div class="input-group">
            <span class="input-group-text">
                <i class="bx bx-mail-send input__icon"></i>
            </span>
            <input class="form-control @(ViewData.ModelState["email"] != null && ViewData.ModelState["email"].Errors.Count > 0 ? "is-invalid" : "")" name="email" placeholder="Email *" value="@Request.Form["email"]" />
            @Html.ValidationMessageFor(u => u.email, "", new { @class = "invalid-feedback" })
        </div>

        <div class="input-group">
            <span class="input-group-text">
                <i class="bx bx-lock-alt input__icon"></i>
            </span>
            <i class="bx bx-show-alt input__icon input__icon-password"></i>
            <input type="password" class="form-control input__password @(ViewData.ModelState["password"] != null && ViewData.ModelState["password"].Errors.Count > 0 ? "is-invalid" : "")" name="password" placeholder="Mật khẩu *" value="@Request.Form["password"]" />
            @Html.ValidationMessageFor(u => u.password, "", new { @class = "invalid-feedback" })
        </div>


        <button type="submit" class="btn btn-primary form__btn">Đăng nhập</button>
    </div>

    <div class="form__auth">
        <span>Bạn chưa có tài khoản ?</span>
        <a href="@Url.Action("Register", "Auth")" class="form__auth-link">Đăng ký</a>
    </div>
</form>
